<div class="ui-fluid">
  <app-task-container>
    <div taskBody>
      <div class="comunicacion-detalles">
        <p-tabView [activeIndex]="tabIndex" [lazy]="true" (onChange)="onTabChange()">
          <p-tabPanel header="Datos generales" leftIcon="ui-icon-assignment">
            <app-detalles-datos-generales [comunicacion]="comunicacion"
                                          [constantesList]="constantes"></app-detalles-datos-generales>
          </p-tabPanel>

          <p-tabPanel header="Remitente / Destinatario" leftIcon="ui-icon-assignment">
            <app-detalles-datos-remitente [comunicacion]="comunicacion"
                                          [remitente]="remitente$ | async"
                                          [contactos]="contactos$ | async"
                                          [constantesList]="constantes"
                                          [municipiosList]="municipios"
                                          [paises]="paises"
                                          ></app-detalles-datos-remitente>

            <app-detalles-datos-destinatario  [destinatarios]="destinatarios$ "
                                             [(constantesList)]="constantes"></app-detalles-datos-destinatario>
          </p-tabPanel>
          <p-tabPanel header="Vista previa del documento" leftIcon="ui-icon-assignment" no-padding *ngIf="ideEcm">
            <div style="overflow-y: scroll;max-height: 100%" *ngIf="ideEcm">
              <app-documentos-ecm-list [idDocumentECM]="ideEcm"></app-documentos-ecm-list>
              <!--<pdf-viewer [src]="docSrc" [show-all]="true" [zoom]="1.5"></pdf-viewer>-->
            </div>
          </p-tabPanel>
          <p-tabPanel header="Observaciones" leftIcon="ui-icon-assignment">
            <app-popup-agregar-observaciones #popupAgregarObservaciones></app-popup-agregar-observaciones>
          </p-tabPanel>
          <p-tabPanel header="Gestionar" leftIcon="ui-icon-assignment">
            <app-gestionar-comunicacion [remitente]="remitente$ | async" [destinatarioPrincipal]="destinatarioPrincipal$ | async" [tipoComunicacion]="comunicacion.correspondencia?.codTipoCmc"
                                        (onRedireccionarTriggered)="redireccionar($event)" [reqDigital]="comunicacion.correspondencia?.reqDigita"
                                        (onDevolverTriggered)="devolver($event)"></app-gestionar-comunicacion>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </app-task-container>
</div>

<p-dialog [visible]="redireccionFallida$ | async" modal="modal" [responsive]="true"
          [contentStyle]="{'overflow':'visible'}"
          (onHide)="cleanRedirecionFallida()" [width]="800">
  <p-header>
    Devoluciones / Redirección - Fallida
  </p-header>

  <h3>Número máximo de redirecciones alcanzado.</h3>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="ui-button-danger"
              label="Cerrar" (click)="cleanRedirecionFallida()"></button>
    </div>

  </p-footer>
</p-dialog>
