$primaryColor: #005C90;
//$primaryDarkColor: darken(#3984B8, 15%);
$primaryDarkColor: #005C90;
$primaryLightColor: #ccd3de;
//$accentColor: #E91E63;
//$accentDarkColor: #ad1457;
//$accentLightColor: #f48fb1;
//$accentTextColor: #ffffff;
$accentColor: #E91E63;
$accentDarkColor: #E91E63;
$accentLightColor: #E91E63;
$accentTextColor: #ffffff;
$fontSize: 10px;


@import '../sass/theme/_theme';
