<!--<app-ticket-radicado></app-ticket-radicado>-->
<div class="ui-g dashboard">
  <!--<div class="ui-g-12">-->
  <!--<app-pie-chart></app-pie-chart>-->
  <!--</div>-->
  <!--<div class="ui-g-12">-->

  <!--</div>-->
  <div class="ui-g-12">
    <app-gauge-chart style="display: flex; justify-content: center; height: 300px" [data]="tasksStadistics" *ngIf="tasksStadistics"></app-gauge-chart>
  </div>


  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <div class="ui-g card colorbox colorbox-2">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment-ind"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">Pendiente por gesti&oacute;n</span>
        <span class="colorbox-count">{{ readyTasks}}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <div class="ui-g card colorbox colorbox-3">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">En proceso</span>
        <span class="colorbox-count">{{ progressTasks }}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-4">
    <div class="ui-g card colorbox colorbox-1">
      <div class="ui-g-4">
        <i class="fa ui-icon-assignment-turned-in"></i>
      </div>
      <div class="ui-g-8">
        <span class="colorbox-name">Completadas</span>
        <span class="colorbox-count">{{ completedTasks }}</span>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-md-4">
    <div class="card overview">
      <div class="overview-content clearfix">
        <span class="overview-title">% Pendientes por gesti&oacute;n hoy</span>
        <span class="overview-badge">{{percents?.ready}}%</span></div>

    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="card overview">
      <div class="overview-content clearfix">
        <span class="overview-title">% En proceso hoy </span>
        <span class="overview-badge">{{percents?.progress}}%</span>
      </div>

    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="card overview">
      <div class="overview-content clearfix">
        <span class="overview-title">% Completadas hoy</span>
        <span class="overview-badge">{{percents?.complete}}%</span>
      </div>
    </div>
  </div>


  <!--<div class="ui-g-12 ui-md-6 ui-lg-4 task-list">-->
    <!--<p-panel header="Tareas reservadas">-->
      <!--<ul>-->

        <!--<li *ngFor="let task of (reservedTasks$ | async)">-->
          <!--<span class="task-name">{{ task.nombre }}</span>-->
          <!--<i class="fa ui-icon-assignment-ind"></i>-->
        <!--</li>-->

      <!--</ul>-->
    <!--</p-panel>-->
  <!--</div>-->

  <!--<div class="ui-g-12 ui-md-6 ui-lg-4 task-list">-->
    <!--<p-panel header="Tareas en progreso">-->
      <!--<ul>-->

        <!--<li *ngFor="let task of (inProgressTasks$ | async)">-->
          <!--<span class="task-name">{{ task.nombre }}</span>-->
          <!--<i class="fa ui-icon-assignment"></i>-->
        <!--</li>-->

      <!--</ul>-->
    <!--</p-panel>-->
  <!--</div>-->

  <!--<div class="ui-g-12 ui-md-6 ui-lg-4 task-list">-->
    <!--<p-panel header="Tareas completadas">-->
      <!--<ul>-->

        <!--<li *ngFor="let task of (completedTasks$ | async)">-->
          <!--<span class="task-name">{{ task.nombre }}</span>-->
          <!--<i class="fa ui-icon-assignment-turned-in"></i>-->
        <!--</li>-->

      <!--</ul>-->
    <!--</p-panel>-->
  <!--</div>-->


</div>


