


<form [formGroup]="form" *ngIf="showForm()">
  <p-panel header="Distribución" [style]="{border: 'none'}">
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-checkbox name="distFisica"
                         label="Física"
                         formControlName="distFisica"
                         (onChange)="dispatchSelectDistElectronica($event)"
                         binary="true"
          >
          </p-checkbox>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4"  *ngIf="sectionsVisible.externo">
        <div style="padding: 20px 0 0 10px">
          <p-checkbox name="distElectronica"
                         label="Electrónica"
                         formControlName="distElectronica"
                         binary="true"
                       >
          </p-checkbox>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-4 ui-g-4 ui-lg-4">
        <div style="padding: 20px 0 0 10px">
          <p-checkbox name="responderRemitente"
                      label="Responder a remitente"
                      formControlName="responderRemitente"
                      id="responderRemitente"
                      [disabled]="disabledCheck"
                      binary="true"
                      [(ngModel)]="valueCheck"
                      [hidden]="!hasNumberRadicado"
                      (onChange) = "onChangeResponderRemitente($event)"
                      checked = "responderRemitente" >
          </p-checkbox>
        </div>
      </div>
    </div>
  </p-panel>
</form>

<!--------------------------------------------- TABLAS  ------------------------->

<div class="ui-fluid" style="margin-top: 60px" *ngIf="sectionsVisible.externo && (editable=== true || listaDestinatariosExternos.length > 0 )">
  <p-dataTable [value]="listaDestinatariosExternos" selectionMode="single"
               [paginator]="true" [rows]="10" [responsive]="true"
               emptyMessage="No se encontraron resultados"
  >
    <p-header>

      <div class="ui-helper-clearfix">
                <span class="ui-panel-title"
                      style="font-size:16px;display:inline-block;margin-top:8px"> Datos de destinatarios externos </span>

              <span style="float: right" *ngIf="editable">
                    <button pButton type="button" label="Agregar" class="ui-button-success" style="width: auto; margin-left: 12px"
                            (click)="showAddDestinatarioExternoPopup()"></button>
              </span>
      </div>

    </p-header>



    <p-column header="Tipo Destinatario">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
        <div class="ui-g-12" *ngIf="destinatario.tipoDestinatario.nombre">
                  <span class="table-text-custom">
                      {{ destinatario.tipoDestinatario.nombre }}
                    </span>
        </div>
      </ng-template>
    </p-column>


    <p-column header="Tipo Persona">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
        <div class="ui-g-12" *ngIf="destinatario.tipoPersona.nombre">
                  <span class="table-text-custom">
                      {{ destinatario.tipoPersona.nombre }}
                    </span>
        </div>
      </ng-template>
    </p-column>

    <p-column header="Identificación">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
        <div class="ui-g-12" *ngIf="destinatario.nit">
                  <span class="table-text-custom">
                      {{ destinatario.nit }}
                    </span>
        </div>
        <div class="ui-g-12" *ngIf="destinatario.nroDocumentoIdentidad">
                  <span class="table-text-custom">
                      {{ destinatario.nroDocumentoIdentidad }}
                    </span>
        </div>
      </ng-template>
    </p-column>




    <p-column header="Nombre">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
        <div class="ui-g-12" >
                  <span class="table-text-custom">
                      {{ destinatarioNombre(destinatario) }}
                    </span>

        </div>
      </ng-template>
    </p-column>

    <p-column header="Tipo de Documento">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
          <div class="ui-g-12" *ngIf="destinatario.tipoDocumento">
            <span class="table-text-custom">
                {{ destinatario.tipoDocumento?.nombre }}
            </span>
          </div>
      </ng-template>
    </p-column>


    <p-column header="Acciones" [style]="{'width':'100px','text-align':'center'}" >
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">

        <div *ngIf="editable === true">
            <button type="button" icon="ui-icon-mode-edit" pButton (click)="editDestinatario(i,'EXT')"
                  class="amber-btn ui-button ui-button-icon"></button>

          <button type="button" icon="ui-icon-close" pButton (click)="deleteDestinatario(i,'EXT', destinatario)"
                  class="ui-button ui-button-icon ui-button-danger"></button>
        </div>
        <div *ngIf="!editable && destinatario.datosContactoList.length > 0  ">
          <button type="button" icon="ui-icon-album" pButton (click)="editDestinatario(i,'EXT')"
                  class="ui-button-info ui-button ui-button-icon"></button>
        </div>

      </ng-template>
    </p-column>
  </p-dataTable>
</div>


<div class="ui-fluid" style="margin-top: 60px" *ngIf="sectionsVisible.interno && (editable === true || listaDestinatariosInternos.length > 0 )">

  <p-dataTable [value]="listaDestinatariosInternos" selectionMode="single"
               [paginator]="true" [rows]="10" [responsive]="true"
               emptyMessage="No se encontraron resultados">
    <p-header>

      <div class="ui-helper-clearfix">
                <span class="ui-panel-title"
                      style="font-size:16px;display:inline-block;margin-top:8px"> Datos de destinatarios internos </span>

              <span style="float: right" *ngIf="editable">
                    <button pButton type="button" label="Agregar" style="width: auto; margin-left: 12px"
                            (click)="showAddDestinatarioInternoPopup()"></button>
                </span>
      </div>

    </p-header>

    <p-column header="Tipo Destinatario">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
        <div class="ui-g-12" *ngIf="destinatario.tipoDestinatario.nombre">
                  <span class="table-text-custom">
                      {{ destinatario.tipoDestinatario.nombre }}
                    </span>
        </div>
      </ng-template>
    </p-column>

    <p-column header="Dependencia Jerárquica">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
        <div class="ui-g-12" *ngIf="destinatario.sede">
            <span class="table-text-custom">
                {{ destinatario.sede.nombre }}
            </span>
        </div>
      </ng-template>
    </p-column>

    <p-column header="Dependencia Productora">
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
        <div class="ui-g-12" *ngIf="destinatario.dependencia">
            <span class="table-text-custom">
                {{ destinatario.dependencia.nombre }}
            </span>
        </div>
      </ng-template>
    </p-column>


    <p-column header="Acciones" [style]="{'width':'100px','text-align':'center'}" >
      <ng-template let-destinatario="rowData" let-i="rowIndex" pTemplate="item">
        <div *ngIf="editable === true">
        <button type="button" icon="ui-icon-mode-edit" pButton (click)="editDestinatario(i,'INT')"
                class="amber-btn ui-button ui-button-icon"></button>

        <button type="button" icon="ui-icon-close" pButton (click)="deleteDestinatario(i,'INT')"
                class="ui-button ui-button-icon ui-button-danger"></button>
        </div>
        <div *ngIf="!editable && destinatario.datosContactoList?.length > 0">
          <button type="button" icon="fa-eye" pButton (click)="editDestinatario(i,'INT')"
                  class="ui-button-info ui-button ui-button-icon"></button>
        </div>

      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<!--------------------------------------------- POPUP  ------------------------->

<p-dialog [visible]="destinatarioExternoDialogVisible" [modal]="true" modal="modal" [responsive]="true" positionTop="20"
          (onHide)="hideAddDestinatarioExternoPopup()" [width]="800" [style]="{'overflow': 'scroll','max-height': '100%'}">
  <p-header>
    Destinatario Externo
  </p-header>

  <app-datos-remitentes  #datosRemitentesExterno  tipoComunicacion="EE" [(operation)]="operationActive"
                         (onCreateDestinatario)="addDestinatario($event,'externo')" [readOnly]="!editable"
                         (onUpdateDestinatario)="updateDestinatario($event,indexSelectExterno,'externo')"
  ></app-datos-remitentes>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="ui-button-primary po-static"
              label="Cerrar" (click)="hideAddDestinatarioExternoPopup()" style="position: static !important;"></button>
    </div>
  </p-footer>

</p-dialog>

<p-dialog [visible]="destinatarioInternoDialogVisible" modal="modal" [responsive]="true" positionTop="20"
          (onHide)="hideAddDestinatarioInternoPopup()" [width]="800" [style]="{'overflow': 'scroll','max-height': '100%'}">
  <p-header>
    Destinatario Interno
  </p-header>

  <app-datos-remitentes #datosRemitentesInterno tipoComunicacion="EI"  [(operation)]="operationActive"
                        (onCreateDestinatario)="addDestinatario($event,'interno')" [readOnly]="!editable"
                        (onUpdateDestinatario)="updateDestinatario($event,indexSelectInterno,'interno')"
  ></app-datos-remitentes>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="ui-button-primary"
              label="Cerrar" (click)="hideAddDestinatarioInternoPopup()" style="position: static !important;"></button>
      <!--<button pButton type="button" class="ui-button-primary"-->
              <!--label="Agregar" (click)="addDestinatarioInterno()"></button>-->
    </div>
  </p-footer>

</p-dialog>

<!--<app-datos-remitente  #datosRemitente [editable]="true" [tipoComunicacion]="tipoComunicacionSelected"></app-datos-remitente>-->

<!--<datos-destinatario-externo #datosDestinatarioExterno *ngIf="tipoComunicacionSelected && tipoComunicacionSelected.codigo == 'SE'" [destinatario]="remitenteExterno" [editable]="true" [objTipoComunicacion] = "tipoComunicacionSelected" [responseToRem] = "responseToRem" ></datos-destinatario-externo>-->

<!--<datos-destinatario-interno #destinatarioInterno *ngIf="tipoComunicacionSelected && tipoComunicacionSelected.codigo == 'SI'" [listaDestinatarios]="listaDestinatariosInternos"></datos-destinatario-interno>-->
