<div class="ui-fluid archivar-documento">
  <app-task-container [forceHiddenButtons]="true" >
    <div taskBody>
      <div  class="page-buttons text-right">
        <button pButton type="button" label="Guardar" style="width: auto; margin-bottom: 10px" (click)="save()" ></button>
        <button pButton type="button" label="Enviar Solicitud UD" style="width: auto; margin-bottom: 10px" (click)="solicitarCreacionUd(selectUD)"  *ngIf="showSolicitarButton" [disabled]="solicitudUDModel.Solicitudes.length === 0"></button>
        <button pButton type="button"  class="ui-button-success" label="Finalizar" style="width: auto; margin-bottom: 10px" (click)="finalizar()" *ngIf="!showSolicitarButton || solicitudUDModel.SolicitudEnvida" ></button>
      </div>
        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <div class="card card-w-title">
              <app-seleccionar-unidad-documental  #selectUD [nroRadicado]="nroRadicado"
                                                  *ngIf="currentPage === 1"
                                                  [archivarDocumentoModel]="archivarDocumentoModel"
                                                  [solicitudModel]="solicitudUDModel"
                                                  (onChangeSection)="toggleEnableButtonNext($event)"
                                                  (onSelectUD)="setEnableButtonNext(true)"
                                                  (onDeselectUD)="setEnableButtonNext(false)"
              ></app-seleccionar-unidad-documental>

              <app-seleccionar-documentos *ngIf="currentPage  === 2" [archivarDocumentoModel]= "archivarDocumentoModel"
                 [nroRadicado]="nroRadicado" #selectDocument  (onAfterInit)="loadSelectDocumentComponent($event)"
                 (onArchiveDone)="save()"
              ></app-seleccionar-documentos>

              <div class="ui-g ui-fluid">
                <div class="ui-g-12" style="padding-top: 20px">
                  <button *ngIf="currentPage===1" pButton type="button" label="Siguiente"  [disabled]="!enableButtonNext" (click)="next()"
                          style="width: 120px;margin-bottom: 10px;float:right;margin-left: 12px"></button>

                    <button *ngIf="currentPage === 2" type="button" pButton label="Anterior" (click)="prev()" style="width: 120px;margin-bottom: 10px;float:right;margin-left: 12px"></button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </app-task-container>
</div>
