<!--<p-growl [value]="error$ | async"></p-growl>-->
<div class="card login-panel ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <img src="{{baseUrl}}/assets/layout/images/logo.png">
    </div>
    <!--<div *ngIf="error$ | async" color="error">{{ error$ | async }}</div>-->
    <form *ngIf="!(loading$ | async)" (ngSubmit)="submit()" [formGroup]="form" novalidate>

        <div class="ui-g-12">
          <span class="md-inputfield">
                <input formControlName="username" pInputText  type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" >
                <label>Usuario</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="md-inputfield">
                <input formControlName="password"  type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" pInputText>
                <label>Contraseña</label>
          </span>
        </div>
        <div class="ui-g-12">
          <button pButton type="submit" label="Entrar" style="margin-bottom:10px" class="blue-grey-btn" icon="ui-icon-person" [disabled]="form.invalid"></button>
          <button pButton type="button" label="Recuperar Contraseña" style="margin-bottom:10px" class="green-btn" icon="ui-icon-help">
          </button>
        </div>

    </form>
  </div>
</div>
