<div class="ui-fluid">
  <app-task-container>
    <div customActions>
      <button [disabled]="!HabilitarOpcion(0)" pButton type="button" label="Abrir" style="width: auto; margin-bottom: 10px"
              (click)="State.Abrir()"></button>

      <button [disabled]="!HabilitarOpcion(1)" pButton type="button" label="Cerrar" style="width: auto; margin-bottom: 10px"
              (click)="State.Cerrar()"></button>

      <button [disabled]="!HabilitarOpcion(2)" pButton type="button" label="Reactivar" style="width: auto; margin-bottom: 10px"
              (click)="State.Reactivar()"></button>

     <button pButton type="button" label="Finalizar" style="width: auto; margin-bottom: 10px"
              (click)="Finalizar()"></button>
    </div>

    <div taskBody>
      <p-panel header="Gestión a seguir" leftIcon="ui-icon-assignment">
        <div class="ui-g ui-fluid">
            <div class="ui-sm-12 ui-g-6 ui-lg-12">
                <div class="ui-g form-group">
                  <p-radioButton name="gestionAseguir" class="p-radio" value="1" label="Cerrar Unidad Documental" [(ngModel)]="OpcionSeleccionada" (ngModelChange)="ResetForm()"></p-radioButton>
                  <p-radioButton name="gestionAseguir" class="p-radio" value="0" label="Abrir Unidad documental" [(ngModel)]="OpcionSeleccionada" (ngModelChange)="ResetForm()"></p-radioButton>
                  <p-radioButton name="gestionAseguir" class="p-radio" value="2" label="Reactivar Unidad Documental" [(ngModel)]="OpcionSeleccionada" (ngModelChange)="ResetForm()"></p-radioButton>

                </div>
              </div>
           </div>
      </p-panel>

      <p-panel header="Buscar unidad documental" leftIcon="ui-icon-assignment">
        <div class="ui-g ui-fluid">

        </div>
        <form
         [formGroup]="formBuscar"
         novalidate
         (ngSubmit)="Listar()"
         >
          <div class="ui-g ui-fluid">
            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="serie"><span class="text-danger">*</span>Serie</label>
                </div>
                <div class="ui-g-12 md-dropdownfield">
                  <p-dropdown [options]="State.ListadoSeries"
                              id="serie"
                              formControlName="serie"
                              placeholder="Seleccione"
                              [autoWidth]="false"
                              (onChange)="OnBlurEvents('serie')"
                              (onBlur)="OnBlurEvents('serie')"
                              optionLabel="nombreSerie"
                  >
                  </p-dropdown>
                  <div class="ui-message ui-messages-error"
                  *ngIf="validations.serie">
                  {{ validations.serie }}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="serie"><span class="text-danger">*</span>Subserie</label>
                </div>
                <div class="ui-g-12 md-dropdownfield">
                  <p-dropdown [options]="State.ListadoSubseries "
                              id="subserie"
                              formControlName="subserie"
                              placeholder="Seleccione"
                              [autoWidth]="false"
                              (onChange)="OnBlurEvents('subserie')"
                              (onBlur)="OnBlurEvents('subserie')"
                              optionLabel="nombreSubSerie"
                              >
                  </p-dropdown>
                  <div class="ui-message ui-messages-error"
                  *ngIf="validations.subserie">
                  {{ validations.subserie }}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                  <div class="ui-g-12">
                      <label for="idunidaddocumental">Identificador principal unidad documental</label>
                  </div>
                  <div class="ui-g-12">
                      <input type="text" pInputText   id="idunidaddocumental" formControlName="identificador" />
                  </div>
              </div>
          </div>
          <div class="ui-sm-12 ui-g-3 ui-lg-3">
            <div class="ui-g form-group">
                <div class="ui-g-12">
                    <label for="nombre">Nombre unidad documental</label>
                </div>
                <div class="ui-g-12">
                    <input type="text" pInputText   id="nombre" formControlName="nombre" />
                </div>
            </div>
        </div>
        <div class="ui-sm-12 ui-g-3 ui-lg-3">
          <div class="ui-g form-group">
              <div class="ui-g-12">
                  <label for="descriptor1">Descriptor 1</label>
              </div>
              <div class="ui-g-12">
                  <input type="text" pInputText   id="descriptor1" formControlName="descriptor1" />
              </div>
          </div>
      </div>
      <div class="ui-sm-12 ui-g-3 ui-lg-3">
        <div class="ui-g form-group">
            <div class="ui-g-12">
                <label for="descriptor2">Descriptor 2</label>
            </div>
            <div class="ui-g-12">
                <input type="text" pInputText   id="descriptor2" formControlName="descriptor2" />
            </div>
        </div>

    </div>
    <div class="ui-sm-12 ui-g-3 ui-lg-6" style="position: relative;">
      <div class="ui-g btn-content">
        <button pButton type="button" label="Buscar" [disabled]="formBuscar.invalid"
        style="width: 120px; margin-right: 15px; margin-bottom: 10px;float: left;"
        (click)="Listar()"></button>

        <button pButton type="button" label="Limpiar"
        style="width: 120px; margin-right: 15px; margin-bottom: 10px;float: left;"
        (click)="ResetForm()"></button>
      </div>
    </div>

          </div>
        </form>
      </p-panel>

      <p-panel header="Resultado de búsqueda" leftIcon="ui-icon-assignment">
        <div class="ui-fluid" style="display: inline-table; width: 100%;" *ngIf="HabilitarOpcion(1)">
            <div class="ui-sm-12 ui-g-3 ui-lg-3">
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                        <label for="descriptor2">Fecha extrema final:</label>
                    </div>
                    <div class="ui-g-12">
                        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [showIcon]="true" [(ngModel)]="State.FechaExtremaFinal"
                        id="FechaExtremaInicial" ></p-calendar>
                      </div>
                </div>
            </div>
            <div class="ui-sm-12 ui-g-3 ui-lg-3">
                <div class="ui-g form-group">
                    <div class="ui-g-12">
                        <button pButton type="button" label="Agregar" [attr.disabled] = "desactivarAjustarFechaCierre"
                        style="width: 120px; margin-right: 15px; margin-bottom: 10px;float: left; vertical-align: bottom;"
                        (click)="State.Agregar()"></button>
                      </div>
                </div>
            </div>
         </div>
        <div class="ui-fluid">
          <p-dataTable selectionMode="multiple"
                      [(selection)]="State.unidadesSeleccionadas"
                       [paginator]="true"
                       [rows]="10"
                       [responsive]="true"
                       [value]="State.ListadoUnidadDocumental"
                       [(first)] = "first"
                       emptyMessage="No se encontraron resultados ">
            <p-column selectionMode="multiple" [style]="{'width':'50px'}"></p-column>
            <p-column field="nombreSerie" header="Nombre serie/subserie">
              <ng-template let-row="rowData" pTemplate="item">
                {{descriptionSerieSubserie(row)}}
              </ng-template>
            </p-column>
            <p-column field="id" header="Identificador unidad documental" [sortable]="true"></p-column>
            <p-column field="nombreUnidadDocumental" header="Nombre unidad documental" [sortable]="true"></p-column>
            <p-column  header="Estado">
              <ng-template  pTemplate="body">
                {{ OpcionSeleccionada == 1 ? 'Activo' : 'Inactivo'}}
              </ng-template>
            </p-column>
            <p-column field="fechaExtremaInicial" header="Fecha extrema inicial" [sortable]="true">
              <ng-template let-col let-unidad="rowData" let-i="rowIndex" pTemplate="body">
                {{unidad[col.field] | date: 'dd/MM/yyyy'}}
              </ng-template>
            </p-column>
            <p-column field="fechaExtremaFinal" header="Fecha extrema final" [sortable]="true">
              <ng-template let-col let-unidad="rowData" let-i="rowIndex" pTemplate="body">
                {{unidad[col.field] | date: 'dd/MM/yyyy'}}
              </ng-template>
            </p-column>
            <p-column field="fechaCierre" header="Fecha cierre trámite" [sortable]="true">
              <ng-template let-col let-unidad="rowData" let-i="rowIndex" pTemplate="body">
                {{unidad[col.field] | date: 'dd/MM/yyyy'}}
              </ng-template>
            </p-column>
            <p-column field="soporte" header="Soporte" [sortable]="true"></p-column>
            <template let-data pTemplate="rowexpansion">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                      <div class="ui-grid ui-grid-responsive ui-grid-pad">
                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2 label">Descriptor 1: </div>
                              <div class="ui-grid-col-2">{{data.descriptor1}}</div>
                              <div class="ui-grid-col-2 label">Fase archivo: </div>
                              <div class="ui-grid-col-2">Archivo de Gestión</div>
                          </div>
                          <div class="ui-grid-row">
                                <div class="ui-grid-col-2 label">Descriptor 2: </div>
                                <div class="ui-grid-col-2">{{data.descriptor2}}</div>
                              <div class="ui-grid-col-2 label">Soporte: </div>
                              <div class="ui-grid-col-2">{{data.soporte}}</div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
              </template>
             <p-column header="Consultar unidad conservación" [style]="{'width':'120px','text-align':'center'}">
              <ng-template let-col="rowData" let-i="rowIndex" pTemplate="body">
                <button type="button" pButton label="Ver" (click)="verDetalle(i)" *ngIf="col.soporte !='Electronico'"
                        class="ui-button ui-button-icon ui-button-success"
                ></button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </p-panel>
    </div>
  </app-task-container>
</div>

<p-dialog
[visible]="State.AbrirDetalle "
modal="modal"
[responsive]="true"
[closable]="true"
positionTop="20"
[width]="800"
(onHide)="State.CerrarDetalle()">
<p-header>

</p-header>
<app-detalle-unidad-conservacion [state]="State" [selectedIdx]="selectedIndex"></app-detalle-unidad-conservacion>
</p-dialog>

