<div class="card card-w-title">
  <h1>Mis Procesos</h1>
  <p-dataTable [value]="(procesos$ | async)" selectionMode="single" [(selection)]="selectedProcess"
               [paginator]="true" [rows]="10" [responsive]="true" emptyMessage="No se encontraron resultados">
    <p-header></p-header>
    <!--<p-column field="codigoProceso" header="Código" [sortable]="true"></p-column>-->
    <p-column field="nombreProceso" header="Nombre del proceso" [sortable]="true">
      <ng-template let-process="rowData" pTemplate="item">
        {{getProcessDisplayName(process)}}
      </ng-template>
    </p-column>
    <!--<p-column field="idDespliegue" header="Id de despliegue" [sortable]="true"></p-column>-->
    <p-column header="Acciones" [style]="{'width':'120px','text-align':'center'}">
      <ng-template let-process="rowData" pTemplate="item">
        <button pButton type="button" label="Iniciar" (click)="iniciarProceso(process)"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
