<!--Body-->
<div class="ui-g">

    <div class="card card-w-title" *ngIf="showContactForm !== true">
        <h1>Datos de Contacto</h1>
        <div class="ui-g ui-fluid">

           <!--Direccion-->
            <div class="ui-fluid">
                <p-dataTable [(value)]="contacts" selectionMode="single" [paginator]="true" [rows]="10" [responsive]="true" emptyMessage="No se encontraron resultados">
                    <p-header>

                        <div class="ui-helper-clearfix">
                            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:8px"> Datos de contacto y dirección </span>

                            <span style="float: right">
                    <button pButton type="button" label="Agregar" style="width: auto; margin-left: 12px"
                            (click)="addContact()" *ngIf="editable"></button>
                </span>
                        </div>

                    </p-header>

                    <p-column header="">
                        <ng-template let-contact="rowData" let-i="rowIndex" pTemplate="item">
                            <!--<div class="ui-g ui-fluid">-->
                            <!---->
                            <!--</div>-->
                            <div class="ui-sm-12 ui-md-12 ui-g-5 ui-lg-5">
                                <div class="ui-g-12" *ngIf="contact.correoEle">
                                    <i class="fa ui-icon-contact-mail"></i>
                                    <span class="table-text-custom">
                      {{ contact.correoEle }}
                    </span>

                                </div>
                                <div class="ui-g-12" *ngIf="contact.numeroTel">
                                    <i class="fa ui-icon-contact-phone"></i>
                                    <span class="table-text-custom">
                    {{ contact.numeroTel | countryPhone}}
                    </span>
                                </div>

                                <div class="ui-g-12" *ngIf="contact.celular">
                                    <i class="fa ui-icon-smartphone"></i>
                                    <span class="table-text-custom">
                    {{ contact.celular }}
                    </span>

                                </div>
                            </div>
                            <div class="ui-sm-12 ui-md-12 ui-g-7 ui-lg-7">

                                <div class="ui-g-12" *ngIf="contact.direccion && (!contact.pais?.codigo || isColombiaCodigo(contact.pais?.codigo))">
                                    <i class="fa ui-icon-location-on"> </i>
                                    <span class="table-text-custom">
                        {{ contact.direccion | direccionToText }}
                        </span>
                        </div>
                                <div class="ui-g-12" *ngIf="contact.pais">
                                    <span class="table-text-custom">
                      <b>País: &nbsp;</b>
                      {{ contact.pais.nombre }}
                    </span>
                   </div>
                      <ng-template [ngIf]="isColombiaCodigo(contact.pais?.codigo)" [ngIfElse]="foreignAdress">
                        <div class="ui-g-12" *ngIf="contact.departamento">
                             <span class="table-text-custom">
                              <b>Departamento: &nbsp;</b>
                                {{ contact.departamento.nombre }}
                             </span>
                        </div>

                        <div class="ui-g-12" *ngIf="contact.municipio">
                            <span class="table-text-custom">
                             <b>Municipio: &nbsp;</b>
                              {{ contact.municipio.nombre }}
                            </span>
                        </div>
                      </ng-template>
                      <ng-template #foreignAdress>
                        <div class="ui-g-12" *ngIf="contact.provinciaEstado">
                          <span class="table-text-custom">
                             <b>Provincia/Estado: &nbsp;</b>
                            {{ contact.provinciaEstado }}
                          </span>
                        </div>

                        <div class="ui-g-12" *ngIf="contact.ciudad">
                            <span class="table-text-custom">
                            <b>Ciudad: &nbsp;</b>
                              {{ contact.ciudad }}
                            </span>
                        </div>

                        <div class="ui-g-12" *ngIf="contact.direccionText">
                            <span class="table-text-custom">
                              <b>Dirección: &nbsp;</b>
                              {{ contact.direccionText }}
                           </span>
                        </div>
                      </ng-template>
                  </div>
                  </ng-template>
                    </p-column>

                    <p-column header="Acciones" [style]="{'width':'100px','text-align':'center'}" *ngIf="editable === true">
                        <ng-template let-contact="rowData" let-i="rowIndex" pTemplate="item">

                            <button type="button" icon="ui-icon-mode-edit" pButton (click)="editContact(i)" class="amber-btn ui-button ui-button-icon" ></button>

                            <button type="button" icon="ui-icon-close" pButton (click)="deleteContact(i)" class="ui-button ui-button-icon ui-button-danger" ></button>

                        </ng-template>
                    </p-column>
                </p-dataTable>
                <div class="ui-g-12 md-inputfield">
                    <div class="ui-message ui-messages-error" *ngIf="contacts.length === 0">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form [formGroup]="form" novalidate name="formContacto" [hidden]="showContactForm !== true" class="fadein-down">

        <div class="card card-w-title">
            <h1>Datos de contacto</h1>

          <div class="ui-g ui-fluid">
            <div class="ui-g ui-g-12">
              <div>
                <p-dropdown [options]="(tipoContacto$ | async | dropdownItem)" placeholder="Tipo de Contacto" [autoWidth]="false" formControlName="tipoContacto"></p-dropdown>
              </div>
            </div>
          </div>
            <!--Tipo Telefono-->
            <div class="ui-g ui-fluid">

                <!--Correo Electronico-->
                <div class="ui-sm-12 ui-g-6 ui-lg-6" style="padding-top: 40px">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                <input type="text" pInputText id="correoEle" emailOptional="" formControlName="correoEle"/>
                <label>Correo electronico</label>
              </span>
                        </div>
                    </div>
                </div>

                <!--Numero Telefono-->
                <div class="ui-sm-6 ui-g-3 ui-lg-3" style="padding-top: 40px">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                <input type="text" pInputText id="numeroTel" formControlName="numeroTel" countryPhoneInput/>
              <label>N&deg;. de teléfono</label>
              </span>
                        </div>
                    </div>
                </div>

                <!--Numero Telefono-->
                <div class="ui-sm-6 ui-g-3 ui-lg-3" style="padding-top: 40px">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                 <input type="text" pInputText id="celular" formControlName="celular" mobilePhoneInput/>
              <label>celular</label>
              </span>
                        </div>
                    </div>
                </div>

                <!--Pais-->
                <div class="ui-sm-12 ui-g-4 ui-lg-4">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="pais">País</label>
                        </div>
                        <div class="ui-g-12">
                            <p-autoComplete #paisAutoComplete id="pais" [suggestions]="paisSuggestions$ | async" field="nombre" formControlName="pais" (completeMethod)="onFilterPais($event)" [size]="30" [minLength]="1" placeholder="Seleccione" [dropdown]="true" (onDropdownClick)="onDropdownClickPais($event)"
                                            [forceSelection]="true"  fixForceSelect>
                            </p-autoComplete>
                        </div>
                    </div>
                </div>

                <!--Departamento-->
                <div class="ui-sm-12 ui-g-4 ui-lg-4">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="departamento">Departamento</label>
                        </div>
                        <div class="ui-g-12">
                            <p-autoComplete #departamentoAutoComplete id="departamento" [suggestions]="departamentoSuggestions$ | async" field="nombre" formControlName="departamento" [minLength]="1" placeholder="Seleccione" [dropdown]="true" (completeMethod)="onFilterDepartamento($event)"
                                (onDropdownClick)="onDropdownClickDepartamento($event)"  [forceSelection]="true" fixForceSelect

                            >
                            </p-autoComplete>
                        </div>
                    </div>
                </div>

                <!--Municipio-->
                <div class="ui-sm-12 ui-g-4 ui-lg-4">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="municipio">Municipio</label>
                        </div>
                        <div class="ui-g-12">
                            <p-autoComplete #municipioAutoComplete id="municipio" [suggestions]="municipioSuggestions$ | async" field="nombre" formControlName="municipio" [minLength]="1" placeholder="Seleccione" [dropdown]="true"
                                            (completeMethod)="onFilterMinicipio($event)"  fixForceSelect [forceSelection]="true"
                                            (onDropdownClick)="onDropdownClickMunicipio($event)" >
                            </p-autoComplete>
                        </div>
                    </div>
                </div>

                <!--Provincia-->
                <div class="ui-sm-12 ui-g-4 ui-lg-4" [hidden]="visibility.selectedColombia">
                    <div class="ui-g form-group" style="padding-top: 40px">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                 <input type="text" pInputText id="provinciaEstado" formControlName="provinciaEstado"/>
              <label>Provincia/Estado</label>
              </span>
                        </div>
                    </div>
                </div>

                <!--Estado/Ciudad-->
                <div class="ui-sm-12 ui-g-4 ui-lg-4" [hidden]="visibility.selectedColombia">
                    <div class="ui-g form-group" style="padding-top: 40px">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                 <input type="text" pInputText id="ciudad" formControlName="ciudad"/>
              <label>Ciudad</label>
             </span>
                        </div>
                    </div>
                </div>

                <!--Direccion-->
                <div class="ui-sm-12 ui-g-4 ui-lg-4" [hidden]="visibility.selectedColombia">
                    <div class="ui-g form-group" style="padding-top: 40px">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                 <input type="text" pInputText id="direccionText" formControlName="direccionText"/>
              <label>Dirección</label>
              </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card card-w-title" [hidden]="!showDireccionForm" ngClass="fadein-down">
            <h1>Datos Dirección</h1>

            <div class="ui-g ui-fluid">

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="tipoVia">Tipo Via</label>
                        </div>
                        <div class="ui-g-12 md-dropdownfield">
                            <p-dropdown [options]="tipoViaSuggestions$ | async | dropdownItem" id="tipoVia" formControlName="tipoVia" placeholder="Seleccione" [autoWidth]="false" [dynamicDisable]="!showDireccionForm" inputId="tipoVia" [lazy]="false">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group" style="padding-top: 40px">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
              <input type="text" pInputText id="noViaPrincipal" formControlName="noViaPrincipal"
                     [dynamicDisable]="!showDireccionForm" (blur)="listenForBlurEvents('noViaPrincipal')">
              <label for="noViaPrincipal">No. Via Principal</label>
              </span>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="prefijoCuadrante">Prefijo cuadrante</label>
                        </div>
                        <div class="ui-g-12 md-dropdownfield">
                            <p-dropdown [options]="(prefijoCuadranteSuggestions$ | async) | orderBy:'nombre' |  dropdownItem" id="prefijoCuadrante" formControlName="prefijoCuadrante" placeholder="Seleccione" [filter]="true" [autoWidth]="false" inputId="prefijoCuadrante">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="bis">Bis</label>
                        </div>
                        <div class="ui-g-12">
                            <p-dropdown [options]="bisSuggestons$ | async | dropdownItem" id="bis" formControlName="bis" placeholder="Seleccione" [filter]="true" [autoWidth]="false" inputId="bis">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="orientacion">Orientacion</label>
                        </div>
                        <div class="ui-g-12 md-dropdownfield">
                            <p-dropdown [options]="orientacionSuggestions$ | async | dropdownItem" id="orientacion" formControlName="orientacion" placeholder="Seleccione" [filter]="true" [autoWidth]="false" inputId="orientacion">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group" style="padding-top: 40px">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                <input type="text" pInputText id="noVia" formControlName="noVia" [dynamicDisable]="!showDireccionForm" (blur)="listenForBlurEvents('noVia')">
                <label for="noVia">No. Via</label>
              </span>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="prefijoCuadrante">Prefijo cuadrante</label>
                        </div>
                        <div class="ui-g-12 md-dropdownfield">
                            <p-dropdown [options]="prefijoCuadranteSuggestions$ | async | orderBy:'nombre' | dropdownItem" id="prefijoCuadrante_se" formControlName="prefijoCuadrante_se" placeholder="Seleccione" [filter]="true" [autoWidth]="false" inputId="prefijoCuadrante_se">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group" style="padding-top: 40px">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
            <input type="text" pInputText id="placa" formControlName="placa" [dynamicDisable]="!showDireccionForm" (blur)="listenForBlurEvents('placa')">
            <label for="placa"># Placa</label>
            </span>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="orientacion">Orientacion</label>
                        </div>
                        <div class="ui-g-12 md-dropdownfield">
                            <p-dropdown [options]="orientacionSuggestions$ | async | dropdownItem" id="orientacion_se" formControlName="orientacion_se" placeholder="Seleccione" [filter]="true" [autoWidth]="false" inputId="orientacion_se">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                        <div class="ui-g-12">
                            <label for="orientacion">Tipo complemento</label>
                        </div>
                        <div class="ui-g-12 md-dropdownfield">
                            <p-dropdown [options]="tipoComplementoSuggestions$ | async | dropdownItem" id="complementoTipo" inputId="complementoTipo" placeholder="Seleccione" formControlName="complementoTipo" [filter]="true" [autoWidth]="false">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group" style="padding-top: 40px">
                        <div class="ui-g-12">
                            <span class="md-inputfield">
            <input type="text" pInputText id="complementoAdicional" formControlName="complementoAdicional" (blur)="listenForBlurEvents('complementoAdicional')">
            <label for="placa">Complemento adicional</label>
            </span>
                        </div>
                    </div>
                </div>

                <div class="ui-sm-6 ui-md-4 ui-g-3 ui-lg-3">
                    <div style="padding: 55px 0 0 10px">
                        <p-checkbox name="cg" label="Principal" formControlName="principal" id="principal" binary="true"></p-checkbox>
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="ui-g-12" *ngIf="showContactForm === true">
        <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">
            <div style="padding: 20px 0 0 10px">
                <p-checkbox name="cg" [hidden]="!showCheckDireccionForm" label="Agregar Dirección" [(ngModel)]="showDireccionForm" binary="true" (onChange)="toggleDireccionForm($event)"></p-checkbox>
            </div>
        </div>

        <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6" style="text-align: right; padding-top: 20px">
            <button pButton type="button" class="ui-button-success po-static" [disabled]="form.invalid" label="Aceptar" (click)="save(); isActive = false" style="width: auto; margin-left: 12px; margin-bottom: 10px;position: static !important"></button>

            <button pButton type="button" class="ui-button-danger po-static" label="Cancelar" (click)="isActive = false; form.reset();showContactForm = false; showDireccionForm = false;" style="width: auto; margin-left: 12px; margin-bottom: 10px;position: static !important"></button>

        </div>
    </div>

</div>
