.<div class="ui-g">
  <div class="ui-g-12">
    <h2 class="text-left page-title">{{ processName }}</h2>
  </div>
  <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">
    <h3 class="text-left page-subtitle">{{ taskName }}</h3>
  </div>
  <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">
    <div class="page-buttons text-right" *ngIf="!forceHiddenButtons">
      <ng-content select="[customActions]">

      </ng-content>

      <button pButton type="button" class="ui-button-success" label="Finalizar" style="width: auto;  margin-bottom: 10px"
              (click)="navigateBack()" *ngIf="!isActive && !hasToContinue && !hideDefaultButton && !ocultar" ></button>
      <button pButton type="button" class="ui-button-success" label="Continuar"
              style="width: auto;  margin-bottom: 10px" (click)="navigateToNextTask()" *ngIf="!isActive && hasToContinue  && !hideDefaultButton"></button>

    </div>
  </div>
</div>

<ng-content select="[taskBody]">

</ng-content>

