<div class="topbar clearfix" *ngIf="isAuthenticated">
  <div class="topbar-left">
    <div class="logo"></div>
  </div>

  <div class="topbar-right">
    <a id="menu-button" href="#" (click)="app.onMenuButtonClick($event)" *ngIf="isAuthenticated">
      <i></i>
    </a>



    <a id="topbar-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)">
      <i class="material-icons">menu</i>
    </a>
    <ul class="topbar-items animated fadeInDown" [ngClass]="{'topbar-items-visible': app.topbarMenuActive}"
        *ngIf="isAuthenticated">
      <li #profile class="profile-item" *ngIf="app.profileMode==='top'||app.isHorizontal()"
          [ngClass]="{'active-top-menu':app.activeTopbarItem === profile}">

        <a href="#" (click)="app.onTopbarItemClick($event,profile)">
          <div class="profile-image"></div>
          <span class="topbar-item-name"></span>
        </a>

        <ul class="ultima-menu animated fadeInDown">
          <li role="menuitem">
            <a href="#">
              <i class="material-icons">person</i>
              <span>Profile</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#">
              <i class="material-icons">security</i>
              <span>Privacy</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#">
              <i class="material-icons">settings_applications</i>
              <span>Settings</span>
            </a>
          </li>
          <li role="menuitem">
            <a href="#">
              <i class="material-icons">power_settings_new</i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </li>
      <li #settings [ngClass]="{'active-top-menu':app.activeTopbarItem === settings}"
          *ngIf="showAdministration() | async">
        <a href="#" (click)="app.onTopbarItemClick($event,settings)">
          <i class="topbar-icon material-icons animated swing">settings</i>
          <span class="topbar-item-name">Configuración</span>
        </a>
        <ul class="ultima-menu animated fadeInDown">
          <li role="menuitem" *ngFor="let routeLink of routerLinks">
            <a *ngIf="routeLink.routerLink" [routerLink]="routeLink.routerLink" (click)="clickLink(routeLink)">
              <i class="material-icons">{{ routeLink.icon}}</i>
              <span>{{routeLink.label}}</span>
            </a>
            <a *ngIf="!routeLink.routerLink" (click)="clickLink(routeLink)" cursor-pointer>
              <i class="material-icons">{{ routeLink.icon}}</i>
              <span>{{routeLink.label}}</span>
            </a>
          </li>
        </ul>
      </li>
      <li #dependencia [ngClass]="{'active-top-menu':app.activeTopbarItem === dependencia}">
        

    <a (click)="app.onTopbarItemClick($event,dependencia)" style="margin-right: 3px; margin-top: -4px">
      <form [formGroup]="form" novalidate>     
          <div id="label-dependencias" class="ui-g-3" style=" min-width: 160px !important;">  
              <div style=" margin-top:0px; 
              color: #212121;"> Dependencia Activa
                  </div> 
          </div>
            <div class="ui-g-4" style="padding: 0px;">
              <p-dropdown [options]="dependencias | dropdownItem"
                        [ngModel]="dependenciaSelected"
                        formControlName="dependencia"
                        placeholder="Seleccione"
                        [filter]="true"
                        [autoWidth]="false"
                        [disabled]="isOpenTask"
            >     
              </p-dropdown>
            </div> 
      </form>

    </a>
      </li>

    </ul>
  </div>
</div>
