<form [formGroup]="form" name="formDefault">
  <div class="ui-fluid">
    <div class="card card-w-title">
      <h1>Datos Remitente</h1>

      <div class="ui-g ui-fluid">

        <div class="ui-sm-12 ui-g-6 ui-lg-6">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label>Dependencia Jerárquica</label>
            </div>
            <div class="ui-g-12">
              <p-dropdown [options]="sedeAdministrativaSuggestions$ | async | dropdownItemSingle"
                          id="sedeAdministrativa"
                          formControlName="sedeAdministrativa"
                          placeholder="Seleccione"
                          [autoWidth]="false"
                          [disabled]="loadCurrentUserData"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-sm-12 ui-g-6 ui-lg-6">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label>Dependencia  Productora</label>
            </div>
            <div class="ui-g-12">
              <p-dropdown [options]="dependenciaGrupoSuggestions"
                          id="dependenciaGrupo"
                          formControlName="dependenciaGrupo"
                          placeholder="Seleccione"
                          [autoWidth]="false"
                          [disabled]="loadCurrentUserData"
                          optionLabel="nombre"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-lg-">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label>Funcionario</label>
            </div>
            <div class="ui-g-12">
              <p-dropdown [options]="funcionariosSuggestions | funcionarioValor"
                          id="funcionarioGrupo"
                          formControlName="funcionarioGrupo"
                          placeholder="Seleccione"
                          [autoWidth]="false"
                          [disabled]="loadCurrentUserData"
              >
              </p-dropdown>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</form>
















