<div class="ui-fluid">
  <div class="page-title">

    <div class="ui-g">
      <div class="ui-sm-6 ui-g-6">
        <div class="ui-g-12">
          <h2 class="text-left page-title">Distribución física</h2>
        </div>
        <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6">
          <h3 class="text-left page-subtitle">Generar planilla de entrada</h3>
        </div>
      </div>

      <div class="ui-sm-6 ui-g-6 text-right">
          <button pButton type="button" label="Finalizar" (click)="Finalizar()" style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <p-panel header="Búsqueda de tareas" [style]="{border: 'none'}">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="dependencia">Dependencia Destino</label>
                </div>
                <div class="ui-g-12">
                  <p-dropdown [options]="dependencias | dropdownItem" id="dependencia"
                              placeholder="Seleccione"
                              [autoWidth]="false" formControlName="dependencia"
                              (onBlur)="OnBlurEvents('dependencia')">
                  </p-dropdown>
                  <div class="ui-message ui-messages-error"
                    *ngIf="validations.tiposDisposicionFinal">
                    {{ validations.tiposDisposicionFinal }}
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="tipologia">Tipo de documento</label>
                </div>
                <div class="ui-g-12">
                  <p-dropdown [options]="tipologiaDocumentalSuggestions$ | async | dropdownItem"
                              id="tipologia"
                              placeholder="Seleccione"
                              [filter]="true"
                              formControlName="tipologia"
                              [autoWidth]="false">
                  </p-dropdown>
                </div>
              </div>
            </div>
            <div class="ui-sm-12 ui-g-3 ui-lg-3" [formGroup]="form">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="numeroRadicado">N&deg;. de radicado</label>
                </div>
                <div class="ui-g-12">
                  <input type="text" pInputText id="numeroRadicado" formControlName="nroRadicado">
                </div>
              </div>
            </div>
            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="startDate">Fecha inicial</label>
                </div>
                <div class="ui-g-12">
                  <p-calendar [(ngModel)]="start_date" [showIcon]="true" dateFormat="dd/mm/yy"
                              [maxDate]="end_date"
                              id="startDate"></p-calendar>
                </div>
              </div>
            </div>
            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="endDate">Fecha final</label>
                </div>
                <div class="ui-g-12">
                  <p-calendar [(ngModel)]="end_date" [showIcon]="true" dateFormat="dd/mm/yy"
                              [minDate]="start_date"
                              id="endDate"></p-calendar>
                </div>
              </div>
            </div>
            <div class="ui-g-12" [style.padding-top]="'40px'">
              <button pButton type="button" label="Limpiar"
                      style="width: 120px; margin-right: 15px; margin-bottom: 10px;float: right"
                      (click)="clear()"></button>
              <button pButton type="button" label="Buscar" [disabled]="form.invalid"
                      style="width: 120px; margin-right: 15px; margin-bottom: 10px;float: right"
                      (click)="listarDistribuciones()"></button>
            </div>
          </div>
        </div>
      </p-panel>

      <p-panel header="Resultados búsqueda" [style]="{border: 'none'}">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12">
            <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple"
                         [(selection)]="selectedComunications" [(first)] = "first"
                         [paginator]="true" [rows]="10" [responsive]="true" [value]="(comunicaciones$ | async)">
              <p-column selectionMode="multiple" [style]="{'width':'50px'}"></p-column>
              <p-column  header="N&deg;. radicado" [sortable]="true">
                <ng-template pTemplate="item" let-data="rowData" >
                  {{ data.correspondencia.nroRadicado | niceNoRadicado }}
                </ng-template>
              </p-column>
              <p-column field="fecRadicado" header="Fecha y hora de radicación" [sortable]="true">
                <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                  {{correspondencia['correspondencia'][col.field] | date:'dd/MM/yyyy'}} {{correspondencia['correspondencia'][col.field] | date:'mediumTime'}}
                </ng-template>
              </p-column>
              <p-column header="Número identificación/NIT" [sortable]="true">
                <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                  {{(getDatosRemitente(correspondencia) | async)?.nit || (getDatosRemitente(correspondencia) |
                  async)?.nroDocuIdentidad}}
                </ng-template>
              </p-column>
              <p-column header="Nombre/Razón social" [sortable]="true">
                <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                  {{(getDatosRemitente(correspondencia) | async)?.razonSocial || (getDatosRemitente(correspondencia) |
                  async)?.nombre}}
                </ng-template>
              </p-column>
              <p-column header="Dependencia" [sortable]="true">
                <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                  {{findDependency((getDatosDestinatario(correspondencia) | async)[0]?.codDependencia)}}
                </ng-template>
              </p-column>
              <p-column header="Tipo de documento" [sortable]="true">
                <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                  {{findTipoDoc((getDatosDocumentos(correspondencia) | async)[0]?.codTipoDoc)}}
                </ng-template>
              </p-column>
              <p-column field="correspondencia.descripcion" header="Asunto" [sortable]="true"></p-column>
              <p-column field="correspondencia.folio" header="Folios" [sortable]="true"
                        [style]="{'width':'110px'}">
                <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                  {{(getDatosDocumentos(correspondencia) | async)[0]?.nroFolios}}
                </ng-template>
              </p-column>
              <p-column field="correspondencia.anexos" header="Anexos" [sortable]="true"
                        [style]="{'width':'110px'}">
                <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                  {{(getDatosDocumentos(correspondencia) | async)[0]?.nroAnexos}}
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
          <div class="ui-g-12" style="padding-top: 20px">
            <button pButton type="button" label="Generar"
                    [disabled]="selectedComunications.length == 0" (click)="generarPlanilla()"
                    style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px">
            </button>
          </div>
        </div>
      </p-panel>
    </div>
  </div>
</div>

<p-dialog [visible]="numeroPlanillaDialogVisible" modal="modal" [responsive]="true" [positionTop]="'50%'"

          (onHide)="hideNumeroPlanillaDialog()" [width]="600">
  <p-header>
    Datos de planilla
  </p-header>
  <a id='dwnldLnk' style="display:none;" target="_blank"></a>
  <app-planilla-generada [planilla]="planillaGenerada" #popUpPlanillaGenerada></app-planilla-generada>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" class="ui-button-primary"
              label="Cerrar" (click)="hideNumeroPlanillaDialog()"></button>
      <button pButton type="button" class="ui-button-primary"
              label="Exportar EXCEL" (click)="exportarPlanilla('XLS')" [disabled]="form.invalid"></button>
      <button pButton type="button" class="ui-button-primary"
              label="Exportar PDF" (click)="exportarPlanilla('PDF')" [disabled]="form.invalid"></button>
    </div>
  </p-footer>
</p-dialog>



