
<div class="card card-w-title">
  <h1>Listado de tareas</h1>
  <p-dataTable [value]="(tasks$ | async)" selectionMode="single" [(selection)]="selectedTask" [lazy]="true"
               [paginator]="true" [rows]="pageSize" [responsive]="true" [totalRecords]="(totalRecords$ | async)"
               (onLazyLoad)="loadTaskPage($event)"
               emptyMessage="No se encontraron resultados"
  >
    <p-header></p-header>
    <p-column field="idTarea" header="ID" [sortable]="true" [style]="{'width':'80px'}"></p-column>
    <p-column field="idInstanciaProceso" header="Instancia" [sortable]="true" [style]="{'width':'80px'}"></p-column>
    <p-column field="tiempoActivacion" header="Fecha de Activación" [sortable]="true" [style]="{'width':'200px'}">
      <ng-template let-task="rowData" pTemplate="item">
        {{task.tiempoActivacion | date:'dd/MM/yyyy'}} {{task.tiempoActivacion | date:'mediumTime'}}
      </ng-template>
    </p-column>
    <p-column field="descripcion" header="Tarea" [sortable]="true"></p-column>
    <p-column field="estado" header="Estado" [sortable]="true" [style]="{'width':'120px'}"></p-column>
    <p-column header="Acciones" [style]="{'width':'120px','text-align':'center'}">
      <ng-template let-task="rowData" pTemplate="item">
        <button pButton type="button" label="Iniciar" (click)="iniciarTarea(task)"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
