<div class="ui-fluid produccion-documental-multiple">
  <app-task-container [hideDefaultButton]="finalizarVisible()">
    <div customActions>
      <button pButton type="button" label="Asignar" style="width:auto;margin-bottom:10px;"
              [disabled]="!enabledAsignar() "
              *ngIf="task"
              (click)="proyectar()"></button>
    </div>

    <div taskBody>
      <p-panel header="Gestionar producción múltiple" leftIcon="ui-icon-assignment">
        <div class="ui-g ui-fluid" *ngIf="numeroRadicado">
          <div class="ui-sm-12 ui-g-3 ui-lg-3" style="margin: 20px 0">
            <div class="ui-g form-group">
              <div class="ui-g-12">
                <label>Número radicado</label>
              </div>
              <div class="ui-g-12">
                <label
                  style="color: inherit">{{numeroRadicado | niceNoRadicado}}</label>
              </div>
            </div>
          </div>
          <div class="ui-sm-12 ui-g-3 ui-lg-3" style="margin: 20px 0">
            <div class="ui-g form-group">
              <div class="ui-g-12">
                <label>Fecha de radicación</label>
              </div>
              <div class="ui-g-12">
                <label style="color: inherit">
                  {{fechaRadicacion | date:'dd/MM/yyyy'}} {{fechaRadicacion | date:'mediumTime'}}
                </label>
              </div>
            </div>
          </div>
        </div>

        <form [formGroup]="form" novalidate>
          <div class="ui-g ui-fluid">

            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="sede"><span class="text-danger">*</span>Dependencia Jerárquica</label>
                </div>
                <div class="ui-g-12 md-dropdownfield">
                  <p-dropdown [options]="sedesAdministrativas$|async|dropdownItem"
                              id="sede"
                              formControlName="sede"
                              placeholder="Seleccione"
                              [autoWidth]="false"
                              (onBlur)="listenForBlurEvents('sede')"
                  >
                  </p-dropdown>
                  <div class="ui-message ui-messages-error"
                       *ngIf="validations.sede">
                    {{ validations.sede }}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="dependencia"><span class="text-danger">*</span>Dependencia Productora</label>
                </div>
                <div class="ui-g-12 md-dropdownfield">
                  <p-dropdown [options]="dependencias | dropdownItem"
                              id="dependencia"
                              formControlName="dependencia"
                              placeholder="Seleccione"
                              [autoWidth]="false"
                              (onChange)="dependenciaChange()"
                              (onBlur)="listenForBlurEvents('dependencia')">
                  </p-dropdown>
                  <div class="ui-message ui-messages-error"
                       *ngIf="validations.dependencia">
                    {{ validations.dependencia }}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="funcionario"><span class="text-danger">*</span>Funcionario que proyecta</label>
                </div>
                <div class="ui-g-12 md-dropdownfield">
                  <p-dropdown [options]="funcionarios$|async| dropdownItemFullName"
                              id="funcionario"
                              formControlName="funcionario"
                              placeholder="Seleccione"
                              [autoWidth]="false"
                              (onBlur)="listenForBlurEvents('funcionario')"
                  >
                  </p-dropdown>
                  <div class="ui-message ui-messages-error"
                       *ngIf="validations.funcionario">
                    {{ validations.funcionario }}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-sm-12 ui-g-3 ui-lg-3">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="tipoPlantilla"><span class="text-danger">*</span>Tipo de plantilla</label>
                </div>
                <div class="ui-g-12 md-dropdownfield">

                  <p-dropdown [options]="tiposPlantilla$ | async | dropdownItem"
                              id="tipoPlantilla"
                              formControlName="tipoPlantilla"
                              placeholder="Seleccione"
                              [autoWidth]="false"
                              (onBlur)="listenForBlurEvents('tipoPlantilla')">
                  </p-dropdown>
                  <div class="ui-message ui-messages-error"
                       *ngIf="validations.tipoPlantilla">
                    {{ validations.tipoPlantilla }}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-sm-12 ui-g-12 ui-lg-12" *ngIf="observacionVisible">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <label for="observacion-pdm"><span class="text-danger">*</span>Observaciones</label>
                </div>
                <div class="ui-g-12 md-dropdownfield">
                  <textarea  pInputTextarea id="observacion-pdm" formControlName="observacion" rows="10"  (blur)="listenForBlurEvents('observacion')"></textarea>
                  <div class="ui-message ui-messages-error"  *ngIf="validations.observacion">
                    {{ validations.observacion }}
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-sm-12 ui-g-12 ui-lg-12">
              <div class="ui-g form-group">
                <div class="ui-g-12">
                  <button pButton type="button" label="Agregar" (click)="agregarProyector()" [disabled]="form.invalid"
                          style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-panel>


      <br/>

      <div class="ui-fluid">
        <p-dataTable [paginator]="true"
                     [rows]="10"
                     [responsive]="true"
                     [value]="listaProyectores"
                     emptyMessage="No se han agregado proyectores aún">
          <p-column field="sede.nombre" header="Dependencia Jerárquica" [style]="{width:'250px'}"></p-column>
          <p-column field="dependencia.nombre" header="Dependencia Productora" [style]="{width:'250px'}"></p-column>
          <p-column field="funcionario.nombre" header="Funcionario" [style]="{width:'250px'}"></p-column>
          <p-column field="tipoPlantilla.nombre" header="Tipo de plantilla" [style]="{width:'105px'}"></p-column>
          <p-column header="Observaciones">
          <ng-template pTemplate="body" let-index="rowIndex" let-row="rowData" >
            <div class="md-dropdownfield" style="height: 105px;" *ngIf="row.funcionario.id != authenticatedFuncionario.id">
              <textarea   rows="5" pInputTextarea=""  (keyup)="observacionesDetectChanges($event,index)">
                {{observacion(index)}}
              </textarea>
              <div class="ui-message ui-messages-error"
                   *ngIf="!observacionValid(index)">
                Longitud m&aacute;xima excedida
              </div>
            </div>
          </ng-template>
          </p-column>
          <p-column header="Acción" [style]="{'width':'120px','text-align':'center'}">
            <ng-template let-rdata="rowData" let-rindex="rowIndex" pTemplate="item">
              <button type="button" pButton label="Eliminar" (click)="eliminarProyector(rindex)"
                      class="ui-button ui-button-icon ui-button-danger"
              ></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </app-task-container>
</div>


