  <p-panel header="Documentos para archivar" [style]="{border:'none'}" *ngIf="nroRadicado">
    <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple" (onHeaderCheckboxToggle)="toggleDocuments($event)"
               [paginator]="true" [rows]="10" [responsive]="true" [(value)]="documentos"
               (onRowSelect)="toggleDocuments($event,true)" (onRowUnselect)="toggleDocuments($event,false)"

   >
      <p-column header="Fecha y hora de archivo" [sortable]="true" >
      <ng-template let-col let-row="rowData" let-index="rowIndex" pTemplate="body">
        {{row.fechaCreacion | date:'dd/MM/yyyy'}} {{row.fechaCreacion | date:'mediumTime'}}
      </ng-template>
    </p-column>
    <p-column header="Identificador de documento" [sortable]="true" field="identificador" >
      <ng-template let-row = "rowData" pTemplate="body">
        {{row.identificador | niceNoRadicado}}
      </ng-template>
       </p-column>
    <p-column header="Nombre/asunto documento"  [sortable]="true"  field="nombreDocumento">
    </p-column>
    <p-column header="Ver" >
      <ng-template  let-col let-row="rowData" pTemplate="body">
        <a href="#" (click)="showDocumento(row.idDocumento,$event)" >Ver</a>
      </ng-template>
    </p-column>
     </p-dataTable>
    </p-panel>
         <p-panel header="Datos unidad documental" [style]="{border: 'none'}">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <p-radioButton #scud name="section" label="Solicitar creación de unidad documental" [(ngModel)]="operation" value="solicitarUnidadDocumental" (click)="changeSection('solicitarUnidadDocumental')"></p-radioButton>
                <p-radioButton #bud  name="section" label="Buscar unidad documental" [(ngModel)]="operation" value="bUnidadDocumental" (click)="changeSection('bUnidadDocumental')"  ></p-radioButton>
              </div>
              <div [formGroup]="form">
                <div class="ui-g-12">
                  <!-- Campo Serie -->
                  <div class="ui-sm-12 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                      <div class="ui-g-12">
                        <label for="serie"><span class="text-danger" *ngIf="operation == 'solicitarUnidadDocumental'">*</span> Serie</label>
                      </div>
                      <div class="ui-g-12">
                        <p-dropdown #seriedropdown [options]="(seriesObservable$ |async)" optionLabel="nombreSerie" id="serie" [autoWidth]="false" formControlName="serie"
                                    (blur)="listenForBlurEvents('serie')"  (update)="selectSerie($event)" >

                        </p-dropdown>
                        <div class="ui-message ui-messages-error"
                             *ngIf="validations.serie && operation=='solicitarUnidadDocumental'">
                          {{ validations.serie }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fin campo Serie -->

                  <!-- Campo Subserie -->
                  <div class="ui-sm-12 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                      <div class="ui-g-12">
                        <label for="subserie"><span class="text-danger" *ngIf="operation == 'solicitarUnidadDocumental'">*</span> Subserie</label>
                      </div>
                      <div class="ui-g-12">
                        <p-dropdown [options]="(subseriesObservable$|async)" id="subserie" optionLabel="nombreSubSerie" [autoWidth]="false"
                                    formControlName="subserie" (blur)="listenForBlurEvents('subserie')">
                        </p-dropdown>
                        <div class="ui-message ui-messages-error"
                             *ngIf="validations.subserie && operation=='solicitarUnidadDocumental'">
                          {{ validations.subserie }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--- Fin Campo Subserie -->

                  <!-- Campo Identificador de unidad documental -->
                  <div class="ui-sm-12 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                      <div class="ui-g-12">
                        <label for="identificador"> <span class="text-danger" *ngIf="operation == 'solicitarUnidadDocumental'">*</span> Identificador unidad documental</label>
                      </div>
                      <div class="ui-g-12 md-inputfield">
                        <input type="text" pInputText id="identificador" formControlName="identificador"
                               (blur)="listenForBlurEvents('identificador')"/>
                        <div class="ui-message ui-messages-error"
                             *ngIf="validations.identificador && operation=='solicitarUnidadDocumental'">
                          {{ validations.identificador }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fin Campo Identificador de unidad documental -->

                  <!-- Campo Nombre de unidad documental -->
                  <div class="ui-sm-12 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                      <div class="ui-g-12">
                        <label for="nombre"><span class="text-danger" *ngIf="operation == 'solicitarUnidadDocumental'">*</span> Nombre unidad documental</label>
                      </div>
                      <div class="ui-g-12 md-inputfield">
                        <input type="text" pInputText id="nombre" formControlName="nombre"
                               (blur)="listenForBlurEvents('nombre')">
                        <div class="ui-message ui-messages-error"
                             *ngIf="validations.nombre && operation=='solicitarUnidadDocumental'">
                          {{ validations.nombre }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fin Campo Nombre de unidad documental -->

                </div>
                <div class="ui-g-12">
                  <!-- Campo Descriptor 1 -->
                  <div class="ui-sm-12 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                      <div class="ui-g-12">
                        <label for="descriptor1"> Descriptor 1</label>
                      </div>
                      <div class="ui-g-12 md-inputfield">
                        <input type="text" pInputText id="descriptor1" formControlName="descriptor1"
                               (blur)="listenForBlurEvents('descriptor1')">
                        <div class="ui-message ui-messages-error"
                             *ngIf="validations.descriptor1 && operation=='solicitarUnidadDocumental'">
                          {{ validations.descriptor1 }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fin Campo  Descriptor 1 -->

                  <!-- Campo Descriptor 2 -->
                  <div class="ui-sm-12 ui-g-3 ui-lg-3">
                    <div class="ui-g form-group">
                      <div class="ui-g-12">
                        <label for="descriptor2">Descriptor 2</label>
                      </div>
                      <div class="ui-g-12 md-inputfield">
                        <input type="text" pInputText id="descriptor2" formControlName="descriptor2"
                               (blur)="listenForBlurEvents('descriptor2')">
                        <div class="ui-message ui-messages-error"
                             *ngIf="validations.descriptor2 && operation=='solicitarUnidadDocumental'">
                          {{ validations.descriptor2 }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fin Campo Descriptor 2 -->

                  <ng-template [ngIf]="operation=='bUnidadDocumental'">
                    <div class="ui-g-12 ui-g-6 ui-lg-6" [style.padding-top]="'40px'">
                      <button pButton type="button" label="Limpiar" (click)="limpiar()"
                              style="width: 120px; margin-right: 15px; margin-bottom: 10px;float: right" >
                      </button>
                      <button pButton type="button" label="Buscar" (click)="buscarUnidadDocumental()"
                              style="width: 120px; margin-right: 15px; margin-bottom: 10px;float: right">
                      </button>
                    </div>
                  </ng-template>
                </div>

                <ng-template [ngIf] = "operation=='solicitarUnidadDocumental'">
                  <div class="ui-g-12">
                    <div class="ui-sm-12 ui-g-10 ui-lg-10">
                      <div class="ui-g form-group">
                        <div class="ui-g-12">
                          <label for="observaciones"><span class="text-danger" *ngIf="operation == 'solicitarUnidadDocumental'">*</span>Observaciones</label>
                        </div>
                        <div class="ui-g-12 md-inputfield">
                  <textarea [rows]="3" pInputTextarea placeholder="Observaciones" id="observaciones"
                            autoResize="true" formControlName="observaciones"
                            (blur)="listenForBlurEvents('observaciones')">
                  </textarea>
                          <div class="ui-message ui-messages-error"
                               *ngIf="validations.observaciones">
                            {{ validations.observaciones }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui-g-12 ui-g-2 ui-lg-2" [style.padding-top]="'75px'">
                      <button pButton type="button" label="Agregar" [disabled]="!form.valid" (click)="addSolicitud()"
                              style="width: 120px; margin-right: 15px;float: right">
                      </button>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </p-panel>
          <p-panel header="Resultados" [style]="{border: 'none'}">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple" [(first)]="first"
                             [paginator]="true" [rows]="10" [responsive]="true" [value]="unidadesDocumentales$|async"
                             (onRowSelect)="selectUnidadDocumental($event)" (onRowUnselect)="deselectUnidadDocumental($event)"
                >
                  <p-column selectionMode="single" [style]="{'width':'50px'}" *ngIf="operation=='bUnidadDocumental'"></p-column>
                  <p-column  header="Item" [style]="{'width':'50px'}">
                    <ng-template pTemplate="body" let-index="rowIndex">
                      {{index + 1}}
                    </ng-template>
                  </p-column>
                  <p-column header="Nombre Serie/Subserie" [sortable]="true">
                    <ng-template pTemplate="body" let-index="rowIndex" let-row="rowData">
                      <div>
                      {{row.nombreSerie}}/{{row.nombreSubSerie}}
                      </div>
                    </ng-template>
                  </p-column>
                  <p-column header="Identificador unidad documental" [sortable]="true" field="id"> </p-column>
                  <p-column header="Nombre unidad documental" [sortable]="true" field="nombreUnidadDocumental"></p-column>
                  <p-column header="Descriptor 1" [sortable]="true" field="descriptor1"></p-column>
                  <p-column header="Descriptor 2" [sortable]="true" [style]="{'width':'110px'}" field="descriptor2"></p-column>
                  <p-column header="Observaciones" [sortable]="true" field="observaciones"></p-column>
                  <p-column header="Estado" [sortable]="true" >
                    <ng-template let-row pTemplate>
                      {{ row.inactivo ? 'Inactivo' : 'Activo'}}
                    </ng-template>
                  </p-column>
                  <p-column *ngIf="operation=== 'solicitarUnidadDocumental'">
                    <ng-template pTemplate="body" let-index="rowIndex">
                      <button pButton label="Eliminar" (click)="removeSolicitud(index)" class="ui-button-danger"></button>
                    </ng-template>
                  </p-column>
                </p-dataTable>
              </div>
            </div>
          </p-panel>

       <p-dialog header="Alerta" [(visible)]="visiblePopup" modal="modal" >
  <div class="text-center">
    El sistema no encuentra la unidad documental que está buscando. <br>
    Por favor, solicite su creación
  </div>
  <p-footer>
    <button type="button" pButton  (click)="closePopup()" label="Aceptar"></button>
  </p-footer>
</p-dialog>
<p-dialog [visible]="documentPreview" modal="modal" [responsive]="true" positionTop="20"
          (onHide)="hidePdf()" [width]="1024">
  <p-header>
    Visor de PDF
  </p-header>

  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-g-12 ui-lg-12">
      <app-documentos-ecm-list [(idDocumentECM)]="idEcm" [versionar] = "false" ></app-documentos-ecm-list>
      <!--<div style="overflow-y: scroll;max-height:500px">-->
      <!--<pdf-viewer [src]="documentPreviewUrl" [show-all]="true" [zoom]="1.5"-->
      <!--(after-load-complete)="afterLoadComplete($event)"-->
      <!--&gt;</pdf-viewer>-->
      <!--</div>-->
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" label="Cerrar" style="width: auto; margin-bottom: 10px;margin-left: 12px"
              (click)="hidePdf()"></button>
      <!--<button pButton type="button" label="Descargar" style="width: auto; margin-bottom: 10px;margin-left: 12px"-->
      <!--[disabled]="!documentLoaded"-->
      <!--(click)="downloadPdf()"></button>-->
    </div>
  </p-footer>
</p-dialog>
   <p-confirmDialog #cd>
            <p-footer>
              <button type="button" pButton icon="fa-check" label="Si" (click)="cd.accept()"></button>
              <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>
            </p-footer>
   </p-confirmDialog>


