<div class="ui-g ui-fluid">

  <app-task-container>
    <div customActions=""></div>
    <div taskBody>
      <div class="ui-g-12">
        <div class="card card-w-title">
          <p-panel header="Resultados búsqueda" [style]="{border: 'none'}">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <p-dataTable emptyMessage="No se encontraron resultados" selectionMode="multiple"
                             [(selection)]="selectedComunications"
                             [paginator]="true" [rows]="10" [responsive]="true" [value]="planAgentes">
                  <p-column selectionMode="multiple" [style]="{'width':'50px'}"></p-column>
                  <p-column field="nroRadicado" header="N&deg;. radicado" [sortable]="true">
                    <ng-template let-row="rowData" pTemplate="body">
                      {{row.nroRadicado | niceNoRadicado}}
                    </ng-template>
                  </p-column>
                  <p-column header="Tipo de persona" [sortable]="true">
                    <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                      {{correspondencia.tipoPersona?.nombre}}
                    </ng-template>
                  </p-column>
                  <p-column header="N&deg;. identificación" [sortable]="true">
                    <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                      {{correspondencia.nroDocuIdentidad || correspondencia.nit}}
                    </ng-template>
                  </p-column>
                  <p-column header="Nombre / Razón social" [sortable]="true">
                    <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                      {{showNombre(correspondencia)}}
                    </ng-template>
                  </p-column>
                   <p-column header="Dependencia" [sortable]="true">
                    <ng-template let-col let-correspondencia="rowData" pTemplate="body">
                      {{findDependency(data.codDependenciaDestino)}}
                    </ng-template>
                  </p-column>

                  <p-column field="tipologiaDocumental.nombre" header="Tipo de documento"
                            [sortable]="true"></p-column>
                  <p-column field="folios" header="Folios" [sortable]="true"></p-column>
                  <p-column field="anexos" header="Anexos" [sortable]="true"></p-column>
                  <p-column field="estado" header="Estado de entrega" [sortable]="true">
                    <ng-template let-col let-planAgente="rowData" pTemplate="body">
                      {{estadoLabel}}
                    </ng-template>
                  </p-column>
                  <p-column field="fecCarguePla" header="Fecha entrega" [sortable]="true">
                    <ng-template let-col let-planAgente="rowData" pTemplate="body">
                      {{planAgente[col.field] | date:'dd/MM/yyyy hh:mm a'}}
                    </ng-template>
                  </p-column>
                  <p-column field="usuario" header="Usuario" [sortable]="true">
                    <ng-template pTemplate="body">
                      {{ funcionarioAprobador | funcionarioNombreCompleto}}
                    </ng-template>
                  </p-column>
                  <p-column field="observaciones"  [sortable]="true">
                    <ng-template pTemplate="header">
                      <div style="word-break: break-word;">
                        Observaciones
                      </div>
                    </ng-template>
                  </p-column>
                </p-dataTable>
              </div>
              <div class="ui-g-12" style="padding-top: 20px">
                <button pButton type="button" label="Actualizar planilla"
                       (click)="actualizarPlanilla()"
                        style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px">
                </button>
                <!--@todo-->
                <button pButton type="button" label="Registrar resultado"
                        [disabled]="selectedComunications.length == 0" (click)="showEditarPlantillaDialog(popupEditar)"
                        style="width: auto; margin-bottom: 10px;float:right;margin-left: 12px">
                </button>
              </div>
            </div>
          </p-panel>
        </div>
      </div>
    </div>
  </app-task-container>
</div>
<p-dialog [visible]="editarPlanillaDialogVisible" modal="modal" [responsive]="true" positionTop="20"
          [contentStyle]="{'overflow':'scroll'}"
          (onHide)="hideEditarPlanillaDialog(popupEditar)" [width]="800">
  <p-header>
    Registrar resultado
  </p-header>
  <app-editar-planilla #popupEditar [planilla]="data" [keyEstadoEntrega]="'estadosEntregaEntrada'" (completado)="editarPlanilla($event)" (onPressCloseButton)="hideEditarPlanillaDialog()">
    <div before class="ui-g-12" >
      <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6" style="margin-bottom: 40px">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Sede destino</label>
          </span>
          </div>
          <div class="ui-g-12">
          <span class="md-inputfield">
              <label style="color: inherit">
                {{findSede(data?.codSedeDestino)}}
              </label>
          </span>
          </div>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-6 ui-g-6 ui-lg-6" style="margin-bottom: 40px">
        <div class="ui-g form-group">
          <div class="ui-g-12">
          <span class="md-inputfield">
            <label>Dependencia destino</label>
          </span>
          </div>
          <div class="ui-g-12">
          <span class="md-inputfield">
              <label style="color: inherit">
                  {{findDependency(data?.codDependenciaDestino)}}
              </label>
          </span>
          </div>
        </div>
      </div>
    </div>
  </app-editar-planilla>

  <p-footer>
  </p-footer>
</p-dialog>
