<div class="ui-fluid radicar-comunicaciones">
  <app-task-container>
    <div customActions>
      <button pButton type="button" label="Cancelar" style="width: auto; margin-bottom: 10px;"  <!--(click)="abort()" -->></button>

      <button pButton type="button" label="Guardar" style="width: auto; margin-bottom: 10px"
              <!--(click)="save().subscribe()" -->></button>

      <button pButton type="button" label="Finalizar" style="width: auto; margin-bottom: 10px;"  ></button>
    </div>
    <div taskBody>
      <div class="ui-fluid">
        <documento-ecm #documentList></documento-ecm>
      </div>
    </div>
  </app-task-container>
</div>
