/* You can add global styles to this file, and also import other style files */

.ui-progress-spinner {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  display: block;
  z-index: 999999999;

  .ui-progress-spinner-svg .ui-progress-spinner-circle {
    fill: transparent;
  }
}

[padding-bottom-50] {
  padding-bottom: 50px !important;
}

.ui-dialog-content {
  height: auto !important;
}

.ui-dialog {
  //overflow: scroll;
}

.ui-dialog-content.ui-widget-content {
  overflow: visible !important;
}

.ui-datatable-header {
  text-align: left !important;
  min-height: 35px;
}
body .ui-datatable .ui-datatable-thead > tr th.ui-selection-column.select-with-title .ui-chkbox-box
{
  margin-left:16px ;
}


thead th {
  background-color: #eee !important;
}

thead tr th {
  overflow: inherit !important;
}

.ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
  background-color: #26C6DA !important;
  color: #ffffff;
}

.ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
  background-color: #26C6DA !important;
  color: #ffffff;
}

tbody tr {
  background-color: #ffffff !important;
}

.short-table {
  width: 25%;
}

@import "assets/theme/theme-indigo";

[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}

@media print {

  @page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }

  .topbar, .layout-menu, .layout-mask, .layout-main {
    display: none;
  }

  * {
    color: #000;
    background-color: #fff;
  }

  #ticket {
    z-index: 999999999999999999;
    visibility: visible;
    position: relative;
    color: black;
    display: block;
    margin: 0 auto;
  }

}

.dialog-auto-with {
  max-width: 80%;
}

.ui-g-1,
.ui-g-2,
.ui-g-3,
.ui-g-4,
.ui-g-5,
.ui-g-6,
.ui-g-7,
.ui-g-8,
.ui-g-9,
.ui-g-10,
.ui-g-11,
.ui-g-12 {
  padding: 2px;
}

body .ui-panel .ui-panel-content {
  padding: 8px 0 8px 0;
}

body .ui-datatable .ui-paginator {
  padding: .125em;
}

p-dataTable .ui-datatable-header .ui-widget-header {
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer {
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
}

.ui-button.ui-button-icon.ui-button-icon-only {
  font-size: .8em;
}

.layout-container .topbar .topbar-right {
  padding: 10px 15px 0 5px;
  position: relative;
}

.line-spacer {
  line-height: 10px;
  height: 10px;
}

.padding-12 {
  padding: 12px;
}

.padding-5 {
  padding: 5px;
}

.padding-hor-5 {
  padding: 8px 0 8px 0;
}

.page-title {
  margin: 5px 0 5px 10px;
  color: #005C90;
}

.page-subtitle {
  margin: 8px 0 8px 10px;
  color: $primaryColor;
}

.text-danger {
  color: #d43f3a;
  margin-right: 5px;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 20px;
}

.text-left {
  text-align: left;
}

.padding-top{
  padding-top: 20px;
}

.text-right {
  text-align: right;
}

p-dataTable {
  .md-inputfield label {
    color: white;
  }

  .md-inputfield input:focus ~ label,
  .md-inputfield input.ui-state-filled ~ label,
  .md-inputfield .ui-inputwrapper-focus ~ label,
  .md-inputfield .ui-inputwrapper-filled ~ label {
    color: transparent;
  }

  .ui-inputtext {
    border-color: white;
  }

  button .ui-widget:disabled, .ui-state-disabled {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
    -o-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.26) inset;
  }

  @media (max-width: 500px) {
    p-header {
      .ui-media-mobile-row {
        width: 100%;
      }
      .md-inputfield {
        width: calc(100% - 95px) !important;
      }
    }
  }
}

.ui-button-primaryDark {
  background-color: darken($primaryColor, 8%);
}

body .md-dropdownfield {
  .ui-message {
    border: none;
    margin: 0;
  }
  .ui-messages-error {
    color: #f44336;
    background-color: transparent;
    font-size: 11px;
    position: absolute;
  }
}

span.table-text-custom {
  padding: 8px;
  position: relative;
  top: -5px;
}

[padding-bottom] {
  padding-bottom: 20px !important;
}

.comunicacion-detalles {
  [padding-top] {
    padding-top: 16px;
  }

  .ui-datatable-header {
    text-align: left !important;
  }
  thead th {
    background-color: #eee !important;
  }

  thead tr th {
    overflow: inherit !important;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
    background-color: #E91E63 !important;
    color: #ffffff;
  }

  .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
    background-color: #E91E63 !important;
    color: #ffffff;
  }

  tbody tr {
    background-color: #ffffff !important;
  }

  [no-padding] .ui-tabview-panel.ui-widget-content {
    padding: 0 !important;
  }

}
.padding-top{
  padding-top: 40px;
}

.doc-selected .ui-fileupload-choose{
  display: none;
}

.margin-20{
  margin: 20px 0;
}

.ui-tooltip-text.ui-shadow.ui-corner-all {
  /* ptooltip  css*/
}

.radicar-comunicaciones  .pdf-container > pdf-viewer > div.ng2-pdf-viewer-container > div > canvas{
  max-width: 100% !important;
}

.dashboard .overview {
  min-height: 0;
  padding: 30px;
}
[cursor-pointer]{
  cursor: pointer;
}

.ticket-radicado.ui-dialog{
  overflow: hidden !important;
}

.pdf-container-print embed{
  min-height: 400px !important;
}
