$primaryColor: rgba(57, 116, 184, 0.75);
$primaryColor: #056dc6;
//$primaryColor: #0273D4;
$primaryDarkColor: #FBFBFB;
$primaryLightColor: #EEEEEE;
$accentColor: #00bcd4;
$accentDarkColor: #00838f;
$accentLightColor: #4dd0e1;
$accentTextColor: #ffffff;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #00838f;
$lightMenuRouterLinkActiveColor: #00bcd4;
$horizontalLightMenuRouterLinkActiveColor: #4dd0e1;



@import '../../sass/layout/_layout';
